.form {
  width: 90%;
  margin-bottom: 10rem;
  color: $color-dark-2;

  .search {
    width: 100%;
    display: grid;
    grid-template-columns: min-content repeat(2, 1fr);
    gap: 1rem;
    justify-content: center;

    input,
    select {
      width: 100%;
      height: 8rem;
      padding: 0 6rem 0 4rem;
      border: none;
      border-radius: 100px;
      background-color: $color-light-2;
      font-size: 2.4rem;
      font-family: inherit;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      cursor: pointer;
    }
    .select {
      position: relative;
      grid-column: 2 /-1;
      svg {
        fill: currentColor;
        height: 5rem;
        position: absolute;
        top: 50%;
        right: 2rem;
        transform: translateY(-50%);
      }
    }
    .input {
      position: relative;
      grid-column: 1 /-1;
    }
  }
}

select:focus,
input:focus {
  outline: none;
  border: 3px solid rgba($color-accent, 0.5);
}

@media screen and (min-width: 37.5em) {
}
@media screen and (min-width: 56.25em) {
  .form {
    .search {
      display: flex;
      flex-direction: row;
    }
    input,
    select {
      width: auto;
    }
  }
}
