.header {
  padding: 20rem 0 7rem 0;
  text-align: center;

  &__title {
    display: inline-block;
    position: relative;
    margin-bottom: 3rem;

    font-family: $font-title;
    font-size: 7rem;
    word-wrap: break-word;
  }
  &__subtitle {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-weight: 400;
  }
  span {
    font-weight: 700;
  }
}
