.header {
  padding: 5rem 0 7rem 0;
  text-align: center;

  &__title {
    display: inline-block;
    position: relative;
    margin-bottom: 3rem;
    font-family: $font-title;
    font-size: 9rem;
    word-wrap: break-word;
  }
  &__subtitle {
    display: block;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 0.6rem;
    font-weight: 400;
  }
  span {
    font-weight: 700;
  }
}
.accent {
  color: darken($color-accent, 10%);
}
@media screen and (min-width: 37.5em) {
  .header {
    padding: 10rem 0 7rem 0;
  }
  .header__title {
    font-size: 5rem;
  }
  .header__subtitle {
    font-size: 1.8rem;
  }
}
